/*
Syntax error: File to import not found or unreadable: partials/base.
              Load paths:
                /Users/nic/Projects/nicinabox-octopress/stylesheets
                /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets
                /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sassy-math-1.2/stylesheets
                /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/modular-scale-1.0.2/stylesheets
                /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/zurb-foundation-3.1.1/scss
                Compass::SpriteImporter
        on line 1 of /Users/nic/Projects/nicinabox-octopress/stylesheets/_settings.scss
        from line 1 of /Users/nic/Projects/nicinabox-octopress/stylesheets/application.scss

1: /Users/nic/Projects/nicinabox-octopress/stylesheets/application.scss

Backtrace:
/Users/nic/Projects/nicinabox-octopress/stylesheets/_settings.scss:1
/Users/nic/Projects/nicinabox-octopress/stylesheets/application.scss:1
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/import_node.rb:42:in `import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:227:in `rescue in visit_import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:232:in `visit_import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `block in visit_import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `map'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `visit_import'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/bin/compass:23:in `load'
/Users/nic/.rvm/gems/ruby-1.9.3-p0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/base.\A               Load paths:\A                 /Users/nic/Projects/nicinabox-octopress/stylesheets\A                 /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/sassy-math-1.2/stylesheets\A                 /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/modular-scale-1.0.2/stylesheets\A                 /Users/nic/.rvm/gems/ruby-1.9.3-p0/gems/zurb-foundation-3.1.1/scss\A                 Compass::SpriteImporter\A         on line 1 of /Users/nic/Projects/nicinabox-octopress/stylesheets/_settings.scss\A         from line 1 of /Users/nic/Projects/nicinabox-octopress/stylesheets/application.scss\A \A 1: /Users/nic/Projects/nicinabox-octopress/stylesheets/application.scss"; }
