/*
Syntax error: Undefined mixin 'clearfix'.
        on line 43 of /Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss, in `clearfix'
        from line 43 of /Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss

Backtrace:
/Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss:43:in `clearfix'
/Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss:43
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/bin/compass:43:in `call'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/bin/compass:19:in `load'
/Users/nic/.rvm/gems/ruby-1.9.2-head@octopress/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 43 of /Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss, in `clearfix'\A         from line 43 of /Users/nic/Projects/nicinabox-octopress/stylesheets/layout.scss"; }
