{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

  <header role="banner" id="header">
    <div class="row">
      {% include header.html %}
    </div>
  </header>

  <div id="main">
    {{ content | expand_urls: root_url }}
  </div>

  <footer role="contentinfo" id="footer">
    <div class="row">
      <div class="twelve columns">
        {% include footer.html %}
      </div>
    </div>

    {% include after_footer.html %}
  </footer>

  </body>
</html>
