html .gist .gist-file .gist-syntax .gist-highlight,
.highlight {

  table td.code {
    width: 100%;
  }
  .line-numbers {
    text-align: right;
    font-size: 13px;
    line-height: 1.45em;
    @include border-radius(0);
  }

  .gutter {
    background: #f7f7f7;
  }

  code {
    padding: 0;
    background: none;
    border: none;
    @include border-radius(0);
  }
}

figure.code, .gist-file, pre {
  figcaption {
    padding: 5px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #eee;
  }
}