body {
  background: #f7f7f7;
}

.row {
  margin: 0;
  margin-left: 10%;
  min-width: 400px;
}

#header {
  border-bottom: 1px solid #ddd;
  h1 {
    font-size: ms(3);
    a {
      color: #666;
    }
    small {
      color: #aaa;
    }
  }
}

#footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.blog-index {
  article {
    border-bottom: 1px solid #ddd;
    padding: 20px 0 36px;
  }
}
.pagination {
  padding: 20px 0 10px;
  margin-bottom: -30px;
  background: #efefef;
}

.archived {
  position: relative;
  padding: 0 !important;
  .words {
    position: absolute;
    height: 100%;
    width: 100%;
    .bar {
      background: #eee;
      height: 100%;
      z-index: -1;
      position: absolute;
    }
    .count {
      left: 10px;
      width: 10%;
      position: absolute;
      color: #666;
      font-weight: bold;
      padding: 23px 0;
    }
  }
  a {
    &:hover {
      h3 {
        color: $mainColor;
      }
      .bar {
        background: #e7e7e7;
      }
    }
  }
}