@import "foundation/common/ratios";

$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$rowWidth: 550px;

$mainColor: #1B5891;
$secondaryColor: #e9e9e9;

$headerFontFamily: "Lato", "Helvetica Neue", Arial, sans-serif;
$headerFontWeight: 900;
$bodyFontFamily: "PT Serif", Georgia, Times, "Times New Roman", serif;

$ratio: $fifth;
$baseFontSize: 18px;
$importantModNum: 44px;

$screenSmall: $rowWidth + 100px;