---
layout: default
---

<div class="blog-index">
  {% assign index = true %}

  {% for post in site.posts %}
    {% if forloop.index <= 1 %}
      {% assign content = post.content %}
      <article>
        <div class="row">
          <div class="columns twelve">
              {% include article.html %}
          </div>
        </div>
      </article>

    <section id="category-filter">
      <div class="row">
        <div class="twelve columns">
          {% include asides/category_list.html %}
        </div>
      </div>
    </section>

    {% else %}
      {% assign categories = post.categories | join: ' ' | %}

      <article class="archived {{ categories }}">
        {% include mini_post.html %}
      </article>
    {% endif %}

  {% endfor %}
</div>
