// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

nav.try {
  float: right;
  @include clearfix;
  margin: 0 10px 10px 20px;
  a {
    @include border-radius(3px);
    color: white;
    @include inline-block;
    padding: 7px 14px;
    line-height: 18px;
    margin: 3px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial;
    small {
      display: block;
      font-size: 11px;
    }
    &:hover {
      @include box-shadow(#aaa 0 0 5px);
    }
    &:active {
      @include box-shadow(#666 0 2px 6px 0 inset);
      top: 1px;
    }
  }
  .download {
    background: #7aa329;
    @include background-image(linear-gradient(#99cc33, #7aa329));
    border: 1px solid #7aa329;
    text-shadow: 0 -1px 1px darken(#7aa329, 10%);
  }
  .demo {
    background: #1374d7;
    @include background-image(linear-gradient(#4096EE, #1374d7));
    border: 1px solid #1374d7;
    text-shadow: 0 -1px 1px darken(#1374d7, 10%);
  }
}
#update {
  font-size: 13px;
  padding: 4px;
  background: #D9DDE9;
  border: 1px solid #ced3e3;
}